<footer class="container" style="margin-top: 100px">
  <p class="text-center">Copyright ©️2017 JDStore
  <br>Design by Blueme
  <br><a herf="https://yifangming-blog.logdown.com">大乐网</a>

</p>


</footer>
